*{
	font-family:calibri;
	box-sizing:border-box;
}


body {
	margin:0px;
	padding:0px;
	background:#f1f2f3;
	height:100vh; /*100% del viewport height*/
}

.contenedor{
	max-width:1000px;
	margin: auto;
	background:white;
	padding:10px;
}

.texto-centrado{
	text-align:center;
}


.oculto{
	display:none;
}

h1{
	margin: 0px;
	padding:30px;
	border:2px solid #0d47a1;
	
}

table{
	margin-top:20px;
	border: 2px solid #0d47a1;
	border-collapse:collapse;
	width:100%;
}

tbody{
	margin-top:20px;
	border: 2px solid #0d47a1;
	border-collapse:collapse;
	width:100%;
}

th {
	background:#0d47a1;
	color:white;
	padding:10px;
}

td {
	border: 1px solid #bbdefb;
	background: white;
	padding: 10px;
}



/* Estilos del formulario*/

form{
	margin-top:20px;
}

fieldset{
	border: 2px solid #0d47a1;
	padding: 20px;
}

label{
	display:block;
}

input{
	display:block;
	width:100%;
	padding:10px;
	font-size:1.1em;
	border: 2px solid #bbdefb;
	margin-bottom:20px;
}


